{% extends 'home/home.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>&nbsp;摄像头注册</h3>
                </div>
                <div class="panel-body">
                            {# 添加标签成功时的消息提示(category_filter:分类闪现) #}
                            {% for msg in get_flashed_messages(category_filter=['ok']) %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> 恭喜您,摄像头注册成功 !</h4>
                                        {{ msg }}
                                </div>
                            {% endfor %}
                            {# 添加标签失败时的消息提示 #}
                            {% for msg in get_flashed_messages(category_filter=['err']) %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> 抱歉,操作失败!</h4>
                                        {{ msg }}
                                </div>
                            {% endfor %}
                    <form role="form" method="post">
                        <fieldset>
                            <div class="form-group">
                                <label for="input_camera_type"><span class="glyphicon glyphicon-facetime-video"></span>&nbsp;{{ form.camera_type.label }}</label>
                                {{ form.camera_type }}
                                {% for err in form.camera_type.errors  %}
                                        <div class="col-md-12">
                                            <font style="color:red">{{ err }}</font>
                                        </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_name"></div>
                            <div class="form-group">
                                <label for="input_ip_addr"><span
                                        class="glyphicon glyphicon-signal"></span>&nbsp;{{ form.ip_addr.label }}</label>
                                {{ form.ip_addr }}
                                {% for err in form.ip_addr.errors  %}
                                        <div class="col-md-12">
                                            <font style="color:red">{{ err }}</font>
                                        </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_ip_addr"></div>
                            <div class="form-group">
                                <label for="input_rstp_port"><span class="glyphicon glyphicon-list"></span>&nbsp;{{ form.rstp_port.label }}</label>
                                {{ form.rstp_port }}
                                {% for err in form.rstp_port.errors  %}
                                        <div class="col-md-12">
                                            <font style="color:red">{{ err }}</font>
                                        </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-12" id="error_rstp_port"></div>
                            <div class="col-md-12" id="error_repassword"></div>
                            {{ form.submit }}
                            {{ form.csrf_token }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}